<a href="https://colab.research.google.com/github/HarishAchappaKallira/hakcds/blob/main/M0/w2_05_06_Oct_24_pre_read.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Euler Problem 1
If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.
Find the sum of all the multiples of 3 or 5 below 1000.

In [ ]:
def e11(limit: int)-> int:
    total_e1, i = 0,1
    #print (i,total_e1)
    while i < limit:
        if i % 3 == 0 or i % 5 == 0:
            total_e1 += i
#            print (i,total_e1)

        i += 1 #did mistake here. i should have been outside loop

    return total_e1

In [ ]:
%time e11(1000)

CPU times: user 297 µs, sys: 0 ns, total: 297 µs
Wall time: 313 µs

233168

In [ ]:
def e12(limit: int) -> int:
   return sum([i for i in range(limit) if i % 3 == 0 or  i % 5 ==0])

In [ ]:
%time e12(1000)

CPU times: user 187 µs, sys: 37 µs, total: 224 µs
Wall time: 228 µs

233168

In [ ]:
def e13(limit: int) -> int:
    return sum((set(range(0,limit,3)) | set(range(0,limit,5))))

In [ ]:
%time e13(1000)

CPU times: user 168 µs, sys: 0 ns, total: 168 µs
Wall time: 5.7 ms

233168

#Euler Problem 10
The sum of the primes below 10 is 2 + 3 + 5 + 7 = 17. Find the sum of all the primes below two million.

In [ ]:
def isPrime(num: int) -> bool:
    if (num % 2 == 0) or (num % 3 ==0) or (num % 5 == 0):
        return False

    return False

In [ ]:
def sumPrimes(limit: int) -> int:
    sum = 2

    return sum

In [ ]:
sumPrimes(10)

2

# Euler Problem 3
The prime factors of 13195 are 5, 7, 13 and 29.
What is the largest prime factor of the number 600851475143 ?

#Euler Problem 4
A palindromic number reads the same both ways. The largest palindrome made from the product of two 2-digit numbers is 9009 = 91 0 99.
Find the largest palindrome made from the product of two 3-digit numbers

#Fizz Buzz
Print integers 1 to N, but print “Fizz” if an integer is divisible by 3, “Buzz” if an integer is divisible by 5, and “FizzBuzz” if an integer is divisible by both 3 and 5

In [ ]:
def make_fizzbuzz(upto: int, fizzbuzz) -> list [str]:
    'For each value up to int, call function to determine int or value to print'

#Euler Problem 5
2520 is the smallest number that can be divided by each of the numbers from 1 to 10 without any remainder.
What is the smallest positive number that is evenly divisible by all of the numbers from 1 to 20?

#Kaprekar’s Constant
Step 1: Choose any four digit number, say n. This is the first number of the sequence.
Step 2: Create a new number α which is the largest number that can be formed by using the four digits of n.
Step 3: Create a new number β which is the smallest number that can be formed by using the four digits of n.
Step 4: α − β is the next number in the sequence.
Step 5: Repeat from step 2.

The sequence is called a Kaprekar sequence and the function K(n) = α − β is the Kaprekar mapping. Some numbers map to themselves; these are the fixed points of the Kaprekar mapping, and are called Kaprekar’s constants. Zero is a Kaprekar’s constant, and so is called a trivial Kaprekar’s constant. All other Kaprekar’s constant are nontrivial Kaprekar’s constants.

For example, starting with 3524,
K(3524) = 5432 − 2345 = 3087
K(3087) = 8730 − 378 = 8352
K(8352) = 8532 − 2358 = 6174
K(6174) = 7641 − 1467 = 6174
with 6174 as a Kaprekar’s constant.

In [ ]:
def get_max_int(inp: str) -> int:
    return int(''.join (sorted(inp, reverse=True)))

In [ ]:
def get_min_int(inp: str) -> int:
    return int(''.join(sorted(inp)))

In [ ]:
def find_next_seq(knum: int) -> int:
    return  (get_max_int(str(knum)) - get_min_int(str(knum)))

In [ ]:
def find_Kap_C(skap: int) -> (bool,list):
    isKapC = False

    nextSeq = 0
    kseq = []

    while isKapC==False:
        print('nextSeq:', nextSeq,'skap:',skap)
        nextSeq = find_next_seq(skap)
        kseq.append(skap)

        if (skap == nextSeq):

            isKapC = True
        else:
            skap = nextSeq

    return (isKapC, kseq)

In [ ]:
%time find_Kap_C(3579)

nextSeq: 0 skap: 3579
nextSeq: 6174 skap: 6174
CPU times: user 0 ns, sys: 454 µs, total: 454 µs
Wall time: 343 µs

(True, [3579, 6174])

In [ ]:
'''
A string is termed descending and denoted by "D" if the charatcters in the string are in strict descending order. Example: "yoke"
If the first part of a string is ascending and the remaining is descending, it is termed a peak and denoted by "P". The number of characters in the two parts need not be the same. But together the two parts must contain all the chanracters. Example "13789640"
Similarly we use the term valley, denoted by "V" for a string whose characters descend and then ascend. "yogam"
We denote the strings that do not come under these as "X".
Write a set of fuctions to classify a given string
'''

def ADPVX(inp: str) -> str
    'for given x in a string traversing 0toN, if the ord(n) is greater than ord(n+1)'

#Print Cheque numbers to words

##amount to words - IN

In [ ]:
def split_amt(amt: int) ->list[str]:
    print(str(amt))
    print(str(amt)[::-1])
    stramt = str(amt)[::-1]

    print(stramt,len(stramt))
    place=0
    lenamt = len(stramt)

    for i in stramt:
        print('value:',int(i),'place:',place,'total digits:',lenamt)
        #construct and return string
        place += 1
    return (stramt)

In [ ]:
    def amt_seq(amt: int) -> list[int]:
        print_amt=[]

        while amt not in print_amt:
            print_amt.append (amt)
            print(print_amt)
            print(dequeue(print_amt))

In [ ]:
def print_chq_amt(amt: int) -> str:
    #Parse digits by place
    #construct a dictionary of places'
    #look up value and substitute by style
    'digits = num_to__digits(amt)'
    split_amt(amt)
    amt_seq(amt)
    #print_chq_lakhs()
    #'''chqstr='one''''
    #return str(digits)

In [ ]:
print_chq_amt(1002001005)

1002001005
5001002001
5001002001 10
value: 5 place: 0 total digits: 10
value: 0 place: 1 total digits: 10
value: 0 place: 2 total digits: 10
value: 1 place: 3 total digits: 10
value: 0 place: 4 total digits: 10
value: 0 place: 5 total digits: 10
value: 2 place: 6 total digits: 10
value: 0 place: 7 total digits: 10
value: 0 place: 8 total digits: 10
value: 1 place: 9 total digits: 10
[1002001005]

AttributeError: 'list' object has no attribute 'dequeue'

In [ ]:
import math,functools

In [ ]:
functools.reduce(math.lcm,range(1,21))

232792560

In [ ]:
def is_anagram(a: str, b: str) -> bool:
    '''Checks if the two strings given
    are anagrams of each other. Case sensitive'''
    if sorted(a) == sorted(b):
        val = True
    else:
        val = False

    return val

In [ ]:
is_anagram('aba','baa')

False

In [ ]:
def isvowel(s: str, extras="") -> bool:
    return s in 'aeiouAEIOU' + extras

In [ ]:
isvowel('z','z')

True

In [ ]:
def get_julian(mon: str) -> int:
    lstr = clean_date_str('02, January, 1999')
    int_date = lstr[0]
    int_year = lstr[2]

    print (int_date)
    print(int_year)

In [ ]:
   def get_julian_days_for_month(mon: str) -> int:
    month_julian = {'jan':0,
                    'feb':31,
                    'mar':31+28,
                    'apr':31+28+31,
                    'may':31+28+31+30,
                    'jun':31+28+31+30+31,
                    'jul':31+28+31+30+31+30,
                    'aug':31+28+31+30+31+30+31,
                    'sep':31+28+31+30+31+30+31+31,
                    'oct':31+28+31+30+31+30+31+31+30,
                    'nov':31+28+31+30+31+30+31+31+30+31,
                    'dec':31+28+31+30+31+30+31+31+30+31+30,
                    }

In [ ]:
def clean_date_str(s: str)-> str:
    s2 = s.replace(',',' ')
    print(s2)
    #lstr[1].lower()[:3]
    #lstr = s.replace(',','').replace(' ','').replace(', ','')
    return lstr

In [ ]:
lstr = clean_date_str('2, MARCH, 1999')

2  MARCH  1999

In [ ]:
print(lstr)

['2', ' mar', ' 1999']

#Given a string convert roman to arabic

In [ ]:
def lookup_roman_to_arabic(inroman: str) -> str:
    rom = {'I':1,
           'II':2,
           'III':3,
           'IV':4,
           'V':5,
           'VI':6,
           'VII':7,
           'VIII':8,
           'IX':9,
           'X':10,
           'L':50,
           'C':100,
           'D':500,
           'M':1000
           }

In [ ]:
def rom_to_arabic(inroman: str) -> str:
    input = ('MCXIX') #1000+100+10+9

    input.count('M')

    #count all M x 1000 (look up)
    #Count all C x 100 (look up)
    #strip string for rest

# Apply rules
# I - can be succeeded only
# X - can be succeeded only by X(max of four times), V (once) or I (max of 3 times)

# use dictionary lookup?  parse value and look up dictionary and add arabic subsitution? check these rules :(

In [ ]:
import re

inp= '1009988765'
s = re.split()

TypeError: split() missing 2 required positional arguments: 'pattern' and 'string'

In [ ]:
f = 'Hello world'

In [ ]:
f[::-2]

#Vibha. problem

In [ ]:
#Prime numbers between 2 and 20
print("Prime numbers between 2 and 20")

for i in range(1,21):
    count=0 #count of the number of factors
    for j in range(2,i//2+1):
        if i%j==0: #if j is a factor of i then i is composite
            count+=1
    if count==0: #there is no factor for i
        print(i)

Prime numbers between 2 and 20
1
2
3
5
7
11
13
17
19